<svelte:head>
  <title>Spotify popular songs</title>
</svelte:head>
<View class="p-16">
  <Row class="gap-32">
    <Column class="basis-4/12 shrink-0">
      <Text.H1 class="font-bold">Spotify popular songs</Text.H1>
      <Text.H3 class="text-neutral-400 mt-2">A quick analysis of the most popular songs on Spotify</Text.H3>
      <Text.H4 class="mt-8">Select a year to see the most popular songs</Text.H4> 
      <Input param="year" type="number" value="2023" class="mt-2 mb-16"/>
      <Table
        class="w-full"
        query="index/top-artists" 
        opts={{
          reactiveToParams: true
        }}
      />
      <!-- <RunButton
      queries={[
        "init",
        "index/songs-by-month",
        "index/top-artists",
        ]}
        class="mt-8 w-fit"
      >
        Search
      </RunButton> -->
    </Column>
    <Column class="basis-8/12 overflow-hidden">
      <Row class="basis-6/12">
        <LineChart 
          query="index/songs-by-month" 
          x="released_month"
          y="total"
          opts={{
            reactiveToParams: true
          }}
        />
      </Row>
      <Row class="basis-6/12">
        <BarChart 
          query="index/top-artists" 
          x="artist"
          y="total"
          yLabel="Total streams"
          opts={{
            reactiveToParams: true
          }}
        />
      </Row>
    </Column>
  </Row>
</View>
